[Directories]
# Absolute Path in the local repo where the UBKG CSVs are located
csv_dir=path/to/ubkg/csvs
# Absolute Path in the local repo for storing data downloaded from RefSeq.
owlnets_dir = path/to/ubkg-etl/generation_framework/owlnets_output/REFSEQ

[Block]
# Offset--starting point in full set of gene entities
offset=0
# Number of gene entities to extract at a time.
chunk=50000
