# ------
# used by multiple scripts
# arguments
argparse==1.4.0
# for analysis of tabular data
pandas==2.3.0
numpy==2.1.0
# to download data from online sources
requests~=2.26.0
# to work with Excel spreadsheets
openpyxl==3.0.10

# ------
# PheKnowLator package and its dependencies
pkt_kg==3.0.0
ray==2.53.0
rdflib==7.5.0
lxml==6.0.2
psutil==7.2.1
tqdm==4.67.1
# For downloading from Google Drive
gdown==5.2.1
# March 2023
# The PheKnowlator package uses NetworkX, and calls the write_pickle function.
# The NetworkX package deprecated the write_pickle function in version 3.0.
# Downgrade NetworkX to a stable previous version.
networkx==3.6.1

# For reading YAML
pyyaml==6.0.3

# For flattening JSON recursively
flatten-json==0.1.14

